#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: start;
  height: 1000px;
}

.title {
  text-decoration: underline;
  max-height: 20px;
  margin: 10px;
}

.resetBtn {
  width: 200px;
  border: 1px solid black;
}
