.cellWrapper {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellPointer {
  cursor: pointer;
}

.removeLeftBorder {
  border-left: 0px;
}

.removeRightBorder {
  border-right: 0px;
}

.removeTopBorder {
  border-top: 0px;
}

.removeBottomBorder {
  border-bottom: 0px;
}

.imageSize {
  width: 50px;
  height: 50px;
}
